
.icon-email:before { content: '\e800'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */